body{
    display: grid;
    grid-template-rows: 15% 85%;
    background-color: black;
    color:white;
}

#navbar{
    display:grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 6% 14% 80%;

}


#logo{
    grid-column-start: 2;
    max-width: 60%;
    max-height: 60%;
}

#links{
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
}

a{
    text-decoration: none;
}