body{
    display: grid;
    grid-template-rows: 3% 12% 85%;
    background-color: black;
    color:white;
    width: 100%;
}

#navbar{
    display:grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 6% 14% 70% 10%;

}


#logo{
    grid-column-start: 2;
    max-width: 60%;
    max-height: 60%;
}

#links{
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    grid-column-start: 3;
}

a{
    text-decoration: none;
}